body {
    background: rgba(0, 0, 0, .8);
}

.container {
    display: table;
    height: 95vh;
    width: 100%;
}

.landing {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.landing h1,
.landing h4 {
    font-weight: bold;
    color: rgba(255, 255, 255, .9);
}

.landing h1 {
    font-size: 2.6em;
}

.landing h4 {
    font-size: 1.9em;
}
