/* ================================================
Header & Footer
================================================ */

footer{
    background: var(--color-jetblack);
    color: var(--color-grey);
}
footer p{
    font-weight: 100;
}
.footer{
    padding: 25px 0;
}
.socialList{
    float: right;
}
.socialList li{
    list-style: none;
    display: inline;
    padding: 10px;
}
.contsmInd a,
.footer a,
.socialList li a{
    text-decoration: none;
    color: var(--color-grey);
    font-weight: 300;
    transition: all .5s ease-in-out;
}
.contsmInd a:hover,
.footer a:hover,
.socialList li a:hover{
    color: var(--color-white);
}
/* ================================================
navigation
================================================ */
.nav-item{
    padding: 0 10px;
}
.nav-link{
    color: var(--color-grey) !important;
    font-family: var(--font-all) !important;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1em;
    border-bottom: 2px solid transparent;
    /* padding: 10px 15px !important; */
}
.nav-link:hover{
    color: var(--color-white) !important;
    border-bottom: 2px solid var(--color-white);
}
.navbar-brand img{
    width: 150px;
}

.scrolled-nav{
    background: var(--color-jetblack) !important;
}
.scrolled-nav .navbar-brand img{
    width: 90px;
}
/* .scrolled-nav .navbar-brand img{
    width: 100px;
} */
.navbar-collapse{
    margin: 0 auto;
    text-align: center;
}
/* ================================================
Landing part / Home
================================================ */
#landing {
    min-height: 100vh;
    background: var(--mainBg);
    background-size: cover;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.connecting-dots {
    height: 100vh;
    width: 100%;
    position: absolute;
}
.landingContainer {
    height: 100vh;
    width: 100%;
    display: table;
    background: rgba(0, 0, 0, .85);
    text-align: center;
}
.ladingContent {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.landTitle {
    font-family: var(--font-brand);
    font-weight: 700;
    font-size: 10vw;
    background: rgba(255, 255, 255, .1);
    -webkit-text-stroke: 2px #fff;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.landSlogan {
    font-size: 3.5vw;
    font-weight: 100;
    color: var(--color-white);
    text-transform: uppercase;
}
/* ================================================
How we work section
================================================ */
#hoWeWork{
    background: url('../../assets/img/Untitled-2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.processImg{
    width: 100%;
    padding: 50px 0;
}

/* ================================================
Capabilities / services
================================================ */
#capabilities {
    background: var(--color-grey);
    overflow: hidden;
    padding: 10px 0 50px 0;
}

.serviceInd{
    cursor: pointer;
    overflow: hidden;
    text-align: left;
    padding: 30px;
    background: var(--color-jetblack);
    margin: 20px 10px;
    color: var(--color-white);
    border-radius: 30px;
    opacity: .8;
}
.serviceInd:hover{
    background: var(--color-black);
    opacity: 1;
    transition: 1s ease-in-out;
}

.serviceTitle{
    text-align: left;
}

.serviceInd img{
    width: 25%;
    padding-bottom: 20px;
}

.backIcon{
    position: absolute;
    opacity: .05; 
    width: 40% !important;
}

.serviceContent{
    text-align: left;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 20px 0;
    font-weight: 100;
}
.serviceMore{
    float: left;
    text-align: left;
    padding: 5px 15px;
    background: var(--color-grey);
    color: var(--color-black);
    border-radius: 10px;
    margin-right: 20px;
    text-decoration: none;
    z-index: 999 !important;

}
.serviceMore:hover{
    background: var(--color-white);
    text-decoration: none;
    color: var(--color-black);
}
/* ================================================
About US
================================================ */
#about{
    overflow: hidden;
    min-height: 100vh;
    background: var(--color-grey);
}

.fullwidthContent{
    text-align: center;
    font-size: 1.3em;
    line-height: 1.7;
    letter-spacing: 1.2px;
}

.aboutFlow{
    color: var(--color-jetblack);
}
.tech-using{
    overflow: hidden;
    padding: 0 0 50px 0;
}
.tech-logo{
	padding: 20px 0;
	text-align: center;
    cursor: pointer;
    float: left;
}

.tech-logo i{
	font-size: 3em;
	color: rgba(0, 0, 0, .6);
}

.tech-logo i:hover{
	color: rgba(0, 0, 0, 1);
}
/* ================================================
Contact US
================================================ */
#contact{
    min-height: 100vh;
    background: url('../../assets/img/contBG.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
#contactForm{
    padding: 20px 0 50px 0;
}

.contSide{
    padding: 0 20px;
}
.contsmInd{
    padding: 20px 0;
    overflow: hidden;
}
.contsmIcon{
    width: 15%;
}
.contsmIcon i{
    font-size: 2em;
    color: #fff;
    color: var(--color-white);
}

.contsmInfo{
    width: 85%;
    line-height: 1.8;
    letter-spacing: 2px;
    font-family: var(--font-all);
    font-size: 1em;
    font-weight: 100;
    color: var(--color-white);
}
form{
    margin: 0 auto;
    /* padding: 20px 0 50px 0; */
  }
  
label{
    color: #fff;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
input, textarea{
    width: 100%;
    background: var(--color-jetblack);
    color: #fff;
    font-family: var(--font-all);
    font-weight: 300;
    font-size: 1.2em;
    letter-spacing: 1.2px;
    border: none;
    border-radius: 0px;
    transition: all .1s ease .1s;
    box-shadow: 1px 2px 1px 1px var(--color-grey);
    margin: 10px;
  }
  
  input:hover, textarea:hover{
    transform: translateY(7px);
    box-shadow: 0 0 0 var(--color-grey);
    border: 1px solid var(--color-grey);
  }

  input:focus, textarea:focus,
  input:active, textarea:active{
    background: var(--color-grey);
    color: var(--color-jetblack);
    border: none;
    box-shadow: none;
    transform: translateY(7px);
    
  }
  
  input, textarea,
  input:focus, textarea:focus,
  input:active, textarea:active{
    outline: none;
  }
  
  input{
    height: 50px;
    padding: 5px 15px;
  }
  
  textarea{
    height: 200px;
    padding: 15px;
    font-size: 1.3em;
  }
  
  #submit{
    width: 100px;
    text-align: center;
    padding: 2px !important;
    font-weight: 700;
    margin: 15px;
  }
  
  #submit:hover{
    background: var(--color-grey);
    color: var(--color-black);
  }
  /* contact form information on submit */

/* ================================================
Change style with viewport
================================================ */
@media only screen and (max-width: 768px){
    .footnote{
        text-align: center !important;
    }
    .footnote .socialList{
        float: none;
    }
    .pgTitle{
        padding: 10px 0;
        font-size: 2em;
    }
    .pgDes{
        font-size: 1em;
    }
    .fullwidthContent{
        font-size: 1em !important;
    }
    .tech-logo i{
        font-size: 2em;
    }
    .serviceInd{
        cursor: pointer;
        overflow: hidden;
        text-align: left;
        padding: 20px;
        border-radius: 20px;
    }

}